#maincontainerad{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
} 
#innercontainerad{
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#loginHeread{
    color: #5a7f65;
    text-align: center;
}
#jobForm1ad{
    display: flex;
    flex-direction: column;
}
#username2{
    margin: 10px 0 5px;
    color: black;
    font-size: 18px;
}
#password1{
    margin: 10px 0 5px;
    color: black;
    font-size: 18px;
}
#username3{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:380px; 
    font-size: medium;
}
#password2{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:380px;
    font-size: medium;
}
#submit2ad{
    background-color:#5a7f65;
    color:white;
    width:400px;
    height: 39px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: medium;
}
#submit2ad:hover{
    background-color:#5a7f65;
     transform:scale(1.05); 
}