/* ManageEmployers.css */

.manage-employers-container {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
  }
  
  .manage-employers-header {
    background-color: #000000;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    height: 40px;
  }
  
  .header-title {
    margin: 0;
  }
  
  .header-go-back-button {
    background-color: #5a7f65;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .manage-employers-content {
    flex: 1;
    padding: 2rem;
  }
  
  .employers-list {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  
  .list-divider {
    border: 1px solid #eee;
    margin-bottom: 1rem;
  }
  
  .employer-card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #0f4805;
    align-items: center;
    /* margin-top: 35px; */
    /* Added margin between cards */
  }
  
  .employer-card:last-child {
    border-bottom: none;
    margin-bottom: 0; /* Remove margin from the last card */
  }
  
  .employer-details {
    display: flex;
    flex-direction: column;
  }
  
  .employer-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
    margin-bottom: 0.5rem;
  }
  
  .employer-detail-item {
    color: #555;
    margin: 0.5rem 0;
  }
  
  .employer-detail-label {
    font-weight: bold;
    margin-right: 5px;
    color: #333;
  }
  
  .employer-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .delete-button:hover, .header-go-back-button:hover {
    background-color: #b02a37;
  }