/* JobAdd.css */

.job-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .job-details-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .job-details-heading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .job-details-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
  }
  
  .job-details-input-label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .job-details-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .salary-input-group {
      display: flex;
      gap: 10px;
  }
  
  .salary-input{
      flex: 1;
  }
  
  .job-details-submit-button {
    background-color: #5a7f65;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .job-details-submit-button:hover {
    background-color: #45a049;
  }
  
  .job-details-form-content {
    display: flex;
    flex-direction: column;
  }